html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  background-color: #607d8b;

  font-family: "Bebas Neue", cursive;
  font-size: 40px;

  display: flex;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 800px;
  padding-top: 48px;
  padding-left: 48px;
  background: linear-gradient(
    to top,
    rgb(96, 125, 139),
    rgb(96, 125, 139),
    85%,
    rgba(96, 125, 139, 0)
  );
}
