.sidebar {
  background-color: white;
  height: 100%;
  width: 120px;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.timeSlots {
  position: relative;
}

.timeSlot {
  height: 48px;
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 12px;
}

.event {
  background-color: #FFA000;
}

.selection {
  background-color: #FFCA28;
}

.eventEditor-popper {
  display: flex;
  align-items: center;
}

.eventEditor-content {
  display: flex;
  background-color: white;
  padding: 12px;
  box-shadow: border-box;
  border-radius: 4px;

  .inputHolder {
    padding: 12px;
    padding-left: 0px;

    input {
      padding: 6px;
      outline: none;
    }
  }
}

.event-hours {
  font-size: 14px;
  color: #EEEEEE;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid white;
  background-color: transparent;
}