html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-color: #607D8B;

  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  padding: 24px;
}

.todo {
  display: flex;
  align-items: center;
}

.todo > .click {
  width: 10px;
  height: 10px;
  background-color: red;
}

.todoInput {
  font-family: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  outline: none;
}

.completedTask {
  text-decoration: line-through;
}
